html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.all {
    margin: 10px auto;
    padding: 20px;
    font-family: Montserrat, sans-serif;
    word-break: break-word;
    max-width: 900px;
    background-color: #c9c9c9;
}

.section__h {
    padding: 20px;
    border-bottom: 10px solid #ffffff;
    margin: 0;
}

.section__h--l {
    margin: 10px 0px 0px 0px;
}

.section__l{
    text-decoration: line-through;
}