html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.all {
    margin: 10px auto;
    padding: 20px;
    background-color: #eeeeee;
    font-family: Montserrat, sans-serif;
    word-break: break-word;
    max-width: 900px;
}